html, body {
  height: 100%; 
  padding: 0; 
  margin: 0; 
  display: flex;
  flex-direction: column; 
}

#__next {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

footer {
  margin-top: auto; 
  text-align: center;
  padding: 20px;
  background-color: #333;
  color: white;
}
a {
  color: inherit;
  text-decoration: none;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #333;
  color: white;
}
.actions button {
  color: white;
  text-decoration: none;
  margin: 0 10px;
  padding: 10px;
  background-color: #555;
  border-radius: 5px;
}

.actions button:hover {
  background-color: #444;
}


/* Conteneur de toutes les cartes */
.articles-container {
  display: flex;
  flex-wrap: wrap; /* Permet de revenir à la ligne lorsque le conteneur est plein */
  gap: 20px; /* Espacement entre les cartes */
  justify-content: space-evenly; /* Pour centrer les cartes dans le conteneur */
  padding: 20px;
}

/* Style pour chaque carte */
.article-card {
  width: calc(33.333% - 20px); /* 3 cartes par ligne, ajustez la largeur */
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Ombre légère */
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Effet de transition */
}

/* Style pour l'image */
.article-image {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-bottom: 1px solid #eaeaea; /* Séparation entre l'image et le contenu */
}

/* Contenu de la carte */
.article-content {
  padding: 15px;
}

.article-content h2 {
  font-size: 18px;
  margin-bottom: 10px;
  color: #333;
}

.article-content p {
  font-size: 14px;
  color: #666;
  margin-bottom: 10px;
}

.article-content .read-more {
  display: inline-block;
  margin-top: 10px;
  color: #0070f3;
  text-decoration: none;
  font-weight: bold;
}

.article-content .read-more:hover {
  text-decoration: underline;
}

/* Effet au survol de la carte */
.article-card:hover {
  transform: translateY(-5px); /* Légère élévation au survol */
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15); /* Ombre plus marquée */
}
